body{
    background-color: rgb(233, 233, 233);
}
main{
    max-width: 1100px;
    padding: 20px;
    border-radius: 20px;

    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.151);

    margin: auto;
    margin-top: 20px;
}
main img{
    width: calc(50% - 10px);

    display: inline-block;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.151);
    border-radius: 10px;
}
main > section.info{
    width: calc(50% - 10px);
    padding: 20px;
    
    display: inline-block;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.151);
}