@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --vermelho: rgb(248, 0, 50);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(233, 233, 233);
}
main{
    max-width: 1100px;
    padding: 20px;
    border-radius: 20px;

    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.151);

    margin: auto;
    margin-top: 20px;
    display: flex;
    
}
main img{
    width: calc(50% - 10px);

    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}
main section.info{
    width: calc(50% - 10px);
    padding: 20px;
    padding-left: 30px;
}
main section.info h1{
    margin-bottom: 10px;
}
main section.info p{
    margin-bottom: 8px;
}
main section.info .cor{
    margin: auto;
    margin-bottom: 10px;
}
main section.info .cor button{
    width: 120px;
    padding-block: 3px;
    margin-block: 3px;
    background-color: rgb(53, 53, 53);
    color: white;
    border: none;
    border-radius: calc(1em + 3px);
}
main section.info ul{
    position: relative;
    left: 20px;
}
main section.info h2.preco{
    font-size: 1.5em;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    width: fit-content;
}
main section.info h2.preco sub{
    font-size: .6em;
    position: relative;
    top: -6px;
}
main section.info #comprar{
    width: 60%;
    height: 50px;
    border-radius: 25px;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.151);
}
main section.info #comprar:hover{
    background-color: var(--vermelho);
    color: white;
    transition-duration: .15s;
    cursor: pointer;
}