@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Geral*/
*{
    margin: 0;
    font-family: 'Poppins','montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #363636;
}
header{
    background-color: #006900;
    border: 1em solid #006900;
    box-shadow: 0em .1em .2em rgba(0, 0, 0, 0.486);
}
main{
    max-width: 600px;

    margin: auto;
    margin-top: 1em;
    background-color: white;
    padding: 40px 50px;
    border-radius: 7px;
}
h1{
    font-size: 1.8em;
    margin-bottom: .5em;
}
h2{
    font-size: 1.4em;
    margin-bottom: .5em;
}
p{
    text-align: justify;
    font-size: 1em;
    margin-block: 1em;
    text-indent: 2em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline 1px;
    transition: .5s;
}
img{
    margin: auto;
    display: block;
}
img:hover{
    scale: 1.01;
    transition-duration: .5s;
}

/*cabeçalho*/
    /*titulo*/
    .titulo > h1{
        color: white;
    }
    /*menu*/
    .menu{
        width: fit-content;
        margin-right: 0px;
    }
    .menu > a {
        color: white;
        margin-right: 1em;
    }

/*conteudo*/

picture {
    margin-bottom: 1em;
}

/*video*/
iframe{
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    aspect-ratio: 16/9;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
    margin-bottom: 20px;
    border-radius: 7px;
}
iframe:hover{
    scale: 1.01;
    transition: .5s;
}
iframe:focus{
    border-radius: 0;
}

/*extra*/
aside{
    background-color: #c0ffc0;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}
aside:hover{
    scale: 1.01;
    transition: .5s;
}
section.extra > h1{
    margin-bottom: .5em;
}
aside > p {
    margin-bottom: .5em;
    text-indent: 2em;
}
aside > ul {
    margin-bottom: .5em;
}
ul{
    columns: 2;
    margin-block: 17px;
}
li{
    margin-bottom: 5px;
    list-style-type: none;
}

